<div class='dashboard'>

  <app-sidenav></app-sidenav>

  <div class='dashboard-app'>
      <header class='dashboard-toolbar' style="box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%)"><a href="" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
      <div class='dashboard-content'>
          <div class='container p-2'>
            <figure class="text-center">
              <blockquote class="blockquote">
                <h2>Orders</h2>
              </blockquote>
            </figure>

            <table class="table table-striped mt-2">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Adderss</th>
                  <th scope="col">Date of purchase</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Ahmed</td>
                  <td>Oct</td>
                  <td>Oct</td>
                  <td>Oct</td>
                  <td>Oct</td>
                  <td>pending</td>
                  <td><button type="submit" class="btn btn-primary btn-sm">Order details</button> <button type="submit" class="btn btn-success ms-2 btn-sm">Ship order</button><button type="submit" class="btn btn-danger btn-sm ms-2">Cancel</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mohamed</td>
                  <td>Dec</td>
                  <td>Dec</td>
                  <td>Dec</td>
                  <td>Dec</td>
                  <td>pending</td>
                  <td><button type="submit" class="btn btn-primary btn-sm">Order details</button> <button type="submit" class="btn btn-success ms-2 btn-sm">Ship order</button><button type="submit" class="btn btn-danger btn-sm ms-2">Cancel</button></td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td>Omar</td>
                  <td>Jan</td>
                  <td>Jan</td>
                  <td>Jan</td>
                  <td>Jan</td>
                  <td>pending</td>
                  <td><button type="submit" class="btn btn-primary btn-sm">Order details</button> <button type="submit" class="btn btn-success ms-2 btn-sm">Ship order</button><button type="submit" class="btn btn-danger btn-sm ms-2">Cancel</button></td>
                </tr>
              </tbody>
            </table>

          </div>
      </div>
  </div>
</div>


