<div class='dashboard'>

  <app-sidenav></app-sidenav>

  <div class='dashboard-app'>
    <app-admin-header></app-admin-header>
      <div class='dashboard-content'>
          <div class='container p-2'>
            <figure class="text-center mt-4">
              <blockquote class="blockquote">
                <h2 class="float-start mb-5">Orders</h2>
              </blockquote>
            </figure>

            <table class="table p-lg-5 table-striped mt-5">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Adderss</th>
                  <th scope="col">Date of purchase</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let order of orders| paginate:{ itemsPerPage:5,currentPage :p}">
                  <td>{{order['user'].fname}} {{order['user'].lname}}</td>
                  <td>{{order['user'].phone}}</td>
                  <td>{{order['user'].city}}</td>
                  <td> {{ order.created_at | date }}</td>
                  <td>{{order.total_cost+'$'}}</td>
                  <td>{{order.status}}</td>

                    <td>
                      <button type="submit" class="btn btn-primary btn-sm ms-2" routerLink="details/{{order.id}}">Order details</button>
                      <button type="submit" class="btn btn-success ms-2 btn-sm" *ngIf=" order.status == status.pending "  name="shipped" (click)="updateOrder(order.id, {'status': status.shipped})">Ship order</button>
                      <button type="submit" class="btn btn-success ms-2 btn-sm" *ngIf=" order.status == status.shipped "  name="shipped" (click)="updateOrder(order.id, {'status': status.delivered})">deliver order</button>
                      <button type="submit" class="btn btn-danger btn-sm ms-2"
                       (click)="deleteOrder(order.id); getAllOrders()">Cancel</button>
                    </td>

                </tr>
                <pagination-controls (pageChange)="p = $event" class="float-left">
                </pagination-controls>
              </tbody>
            </table>

          </div>
      </div>
  </div>
</div>


