<div class="dashboard-nav ">
  <header><a routerLink="" class="menu-toggle"><i class="fas fa-bars"></i></a>
    <a class="brand-logo"><i class="fas fa-anchor"></i> <span>Crypton</span></a>
  </header>
  <nav class="dashboard-nav-list"><a routerLink="/admin" class="dashboard-nav-item"><i class="fas fa-home"></i>
      Home </a>
      <a routerLink="/admin/products" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> Products</a>
      <a routerLink="/admin/categories" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Categories </a>
      <a routerLink="/admin/brands" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Brands </a>
      <a routerLink="/admin/orders" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Orders </a>
      <a routerLink="/admin/users" class="dashboard-nav-item"><i class="fas fa-users"></i> Users </a>
      <a [routerLink]="['/admin','profile',userData.user_id]" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
    <div class="nav-item-divider"></div>
    <a (click)="logout()" href="" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
  </nav>
</div>
