
            <div class='dashboard'>

              <app-sidenav></app-sidenav>

              <div class='dashboard-app' style="background-color: rgba(236, 236, 236, 0.562);">
                 <app-admin-header></app-admin-header>
                  <div class='dashboard-content'>
                      <div class='container m-5'>
                        <figure class="text-center">
                          <blockquote class="blockquote mt-3">
                            <h2>Edit user</h2>
                          </blockquote>
                        </figure>
                        <div class="container mt-5 col-lg-8">
                          <form class="container mt-5 p-5">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4 ">
                                <div class="col ">
                                    <div class="form-outline ">
                                        <label class="form-label " for="form3Example1 ">First name</label>
                                        <input type="text " id="form3Example1 " class="form-control" />
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="form-outline ">
                                        <label class="form-label " for="form3Example2 ">Last name</label>
                                        <input type="text " id="form3Example2 " class="form-control "/>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4 ">
                                <label class="form-label " for="form3Example3 ">Email address</label>
                                <input type="email " id="form3Example3 " class="form-control "/>
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4 ">
                                <label class="form-label " for="form3Example4 ">Password</label>
                                <input type="password " id="form3Example4 " class="form-control"/>
                            </div>
                            <!-- Address input -->
                            <div class="form-outline mb-4 ">
                                <label class="form-label " for="form3Example4 ">City</label>
                                <input type="text " id="form3Example4 " class="form-control "/>
                            </div>
                            <div class="form-outline mb-4 ">
                                <label class="form-label " for="form3Example4 ">Street</label>
                                <input type="text " id="form3Example4 " class="form-control "/>
                            </div>
                            <div class="form-outline mb-4 col-4">
                              <select class="form-select" aria-label="Default select example">
                                <option >Role</option>
                                <option value="user">User</option>
                                <option value="admin">Admin</option>
                              </select>
                            </div>
                            <div class="form-outline mb-4 ">
                                <label class="form-label " for="form3Example4 ">Phone Number</label>
                                <input type="number " id="form3Example4 " class="form-control "/>
                            </div>

                            <!-- Submit button -->
                            <button type="submit " class="btn btn-success btn-block mb-5 w-25 ">Update</button>
                          </form>
                        </div>

                      </div>
                  </div>
              </div>
            </div>





