<div class='dashboard'>


    <app-sidenav></app-sidenav>
  
    <div class='dashboard-app'>
      <app-admin-header></app-admin-header>
        <div class='dashboard-content'>
            <div class='container p-2'>
                <div class="row">
                    <div class="text-center john">
                            <h3>Hello John </h3>
                            <p class="fw-bold">Welcome back to your home</p>
                            <img src="../../../assets/img/admin.jpg" alt="" class="responsive">
                    </div>


                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  