<div class='dashboard'>

  <app-sidenav></app-sidenav>

  <div class='dashboard-app'>
    <app-admin-header></app-admin-header>
      <div class='dashboard-content'>
          <div class='container'>
            <figure class="text-center">
              <blockquote class="blockquote">
                <h2>Products</h2>
              </blockquote>
            </figure>
            <div class="text-right pb-5">
              <button routerLink="/admin/products/add"type="submit" class="btn btn-primary btn-sm float-end">Add new product</button>
            </div>
            <app-search-box></app-search-box>
            <div class="container mt-3">
              <div class="row">
                <div class="col-12">
                <table class="table table-image ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Name</th>
                      <th scope="col">description</th>
                      <th scope="col">price</th>
                      <th scope="col">discount</th>
                      <th scope="col">Category</th>
                      <th scope="col">Brand</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td class="w-25">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                      </td>
                      <td>T-shirt</td>
                      <td>Cotton</td>
                      <td>$10</td>
                      <td>$2.846</td>
                      <td>cloths</td>
                      <td>H&M</td>
                      <td><button type="submit" class="btn btn-warning btn-sm">Edit</button><button type="submit" class="btn btn-danger btn-sm ms-2">Delete</button></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td class="w-25">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                      </td>
                      <td>Pants</td>
                      <td>Cristina</td>
                      <td>1.434</td>
                      <td>3.417</td>
                      <td>3.417</td>
                      <td>3.417</td>
                      <td><button type="submit" class="btn btn-warning btn-sm">Edit</button><button type="submit" class="btn btn-danger btn-sm ms-2">Delete</button></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td class="w-25">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                      </td>
                      <td>T-shirt</td>
                      <td>Cristina</td>
                      <td>913</td>
                      <td>2.846</td>
                      <td>2.846</td>
                      <td>2.846</td>
                      <td><button type="submit" class="btn btn-warning btn-sm">Edit</button><button type="submit" class="btn btn-danger btn-sm ms-2">Delete</button></td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
