<div class='dashboard'>

  <app-sidenav></app-sidenav>

  <div class='dashboard-app'>
    <app-admin-header></app-admin-header>
      <div class='dashboard-content'>
          <div class='container p-2'>
            <figure class="mt-4">
              <blockquote class="blockquote">
                <h2>Brands</h2>
              </blockquote>
            </figure>
            <div class="text-right">
              <button routerLink="/admin/brands/add"type="submit" class="btn btn-primary btn-sm float-end">Add new brand</button>
            </div>

            <table class="table table-striped mt-5">
              <thead>
                <tr>
                
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let brand of brands | paginate: { itemsPerPage: 5, currentPage: p }">
                  <!-- <th scope="row">{{brand.id}}</th> -->
                  <td>{{brand.name}}</td>
                  <td><button type="submit" class="btn btn-danger btn-sm" (click)="deleteData(brand.id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

          </div>
      </div>
  </div>
</div>


