
            <div class='dashboard'>

              <app-sidenav></app-sidenav>

              <div class='dashboard-app' style="background-color: rgb(236, 236, 236);" >
                  <app-admin-header></app-admin-header>
                  <div class='dashboard-content'>
                      <div class='container m-5'>
                        <figure class="text-center">
                          <blockquote class="blockquote mt-3">
                            <h2>Add new Category</h2>
                          </blockquote>
                        </figure>
                        <div class="container mt-5 col-lg-8">
                          <form class="row g-3 needs-validation mt-2 p-3" novalidate>
                            <div class="col-md-6 position-relative">
                              <label for="validationTooltip03" class="form-label">Name</label>
                              <input type="text" class="form-control" id="validationTooltip03" required>
                              <div class="invalid-tooltip">
                                Please provide a valid Name.
                              </div>
                            </div>
                            <div class="col-12">
                              <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                          </form>
                        </div>

                      </div>
                  </div>
              </div>
            </div>

