  <!-- Start Top Nav -->
  <!-- Header -->
  <app-navbar></app-navbar>
  <!-- Close Top Nav -->
  <!-- Close Header -->

<!-- Start Content -->
<div class="container py-5">
  <app-search-box></app-search-box>
  <div class="row mt-4">
      <div class="col-lg-3">
          <h1 class="h2 pb-4">Classifications</h1>
          <ul class="list-unstyled templatemo-accordion">
              <li class="pb-3">
                  <a class="collapsed d-flex justify-content-between h3 text-decoration-none">
                      Categories
                      <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                  </a>
                  <ul class="collapse show list-unstyled pl-3">
                      <li *ngFor="let category of allCategories" ><a class="text-decoration-none" [routerLink]="['/category',category.id]" >{{category.name}}</a></li>
                  </ul>
              </li>
              <li class="pb-3">
                  <a class="collapsed d-flex justify-content-between h3 text-decoration-none">
                      Brands
                      <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                  </a>
                  <ul id="collapseThree" class="collapse list-unstyled pl-3">
                      <li *ngFor="let brand of allBrands" ><a class="text-decoration-none" [routerLink]="['/brand',brand.id]" >{{brand.name}}</a></li>
                  </ul>
              </li>
          </ul>
      </div>

      <div class="col-lg-9">
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6 pb-4 ">
                  <div class="d-flex">
                      <select class="form-control">
                          <option>Filter</option>
                          <option routerLink="/product/listing">All</option>
                          <option routerLink="/lowtohigh">Low price to high</option>
                          <option routerLink="/hightolow">High price to low</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
            <!-- Product Items -->
            <app-product-item class="col-md-4" *ngFor="let item of brandProducts | filter: searchKey: 'name' | paginate: { itemsPerPage: 9,currentPage: page}" [productItem]="item"></app-product-item>
          </div>

              <div class="paging ">
                <!-- page number -->
                <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
          </div>
      </div>

  </div>
</div>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
  <div class="container my-4">
      <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1">Our Brands</h1>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  Lorem ipsum dolor sit amet.
              </p>
          </div>
          <div class="col-lg-9 m-auto tempaltemo-carousel">
              <div class="row d-flex flex-row">
                  <!--Controls-->
                  <div class="col-1 align-self-center">
                      <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                          <i class="text-light fas fa-chevron-left"></i>
                      </a>
                  </div>
                  <!--End Controls-->

                  <!--Carousel Wrapper-->
                  <div class="col">
                      <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                          <!--Slides-->
                          <div class="carousel-inner product-links-wap" role="listbox">

                              <!--First slide-->
                              <div class="carousel-item active">
                                  <div class="row">
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                      </div>
                                  </div>
                              </div>
                              <!--End First slide-->

                              <!--Second slide-->
                              <div class="carousel-item">
                                  <div class="row">
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                      </div>
                                  </div>
                              </div>
                              <!--End Second slide-->

                              <!--Third slide-->
                              <div class="carousel-item">
                                  <div class="row">
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                      </div>
                                      <div class="col-3 p-md-5">
                                          <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                      </div>
                                  </div>
                              </div>
                              <!--End Third slide-->

                          </div>
                          <!--End Slides-->
                      </div>
                  </div>
                  <!--End Carousel Wrapper-->

                  <!--Controls-->
                  <div class="col-1 align-self-center">
                      <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                          <i class="text-light fas fa-chevron-right"></i>
                      </a>
                  </div>
                  <!--End Controls-->
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Brands-->

  <!-- Start Footer -->
  <app-footer></app-footer>
  <!-- End Footer -->
