<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<!-- Start Top Nav -->
<!-- Header -->
<app-navbar></app-navbar>
<!-- Close Top Nav -->
<!-- Close Header -->

<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3 mt-0" style="height: 39rem;">
                    <img class="card-img img-fluid" style="height: 39rem;" src="{{imageDirectoryPath}}{{productItem.image}}" alt=" Card image cap " id="product-detail ">
                </div>
                <!-- <div class="row ">

                </div> -->
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5 ">
                <div class="card ">
                    <div class="card-body ">
                        <div class="d-flex flex-row justify-content-between">

                            <h1 style="font-weight:bold" class="h2">{{productItem.name}}</h1><br>
                            <a *ngIf="!addedToWishlist" (click)="addtoWishlist(productItem.id)" class="btn btn-success text-white"  ><i class="bi bi-heart" ></i></a>
                            <a *ngIf="addedToWishlist" (click)="removeFromWishlist(productItem.id)" class="btn btn-success text-white"  ><i class="bi bi-heart-fill" ></i></a>
                        </div>
                        <div *ngIf="productItem.discount; else elseBlock">

                            <h5 class=" mb-1 text-black mt-2 w-50"><del> Price :${{productItem.price}}</del></h5>
                            <h5 class="mb-0 text-success ">Price: ${{productItem.price - productItem.discount}}</h5>
                        </div>
                        <ng-template #elseBlock>
                            <h5 class=" mb-1 text-success mt-3 w-50">
                                Price :${{productItem.price}}</h5>
                        </ng-template>
                        <br>
                        <u class="rate-area mx-0">
                            <input type="radio " id="5-star " name="rating " value="5 " /><label for="5-star " title="Amazing ">5 stars</label>
                            <input type="radio " id="4-star " name="rating " value="4 " /><label for="4-star " title="Good ">4 stars</label>
                            <input type="radio " id="3-star " name="rating " value="3 " /><label for="3-star " title="Average ">3 stars</label>
                            <input type="radio " id="2-star " name="rating " value="2 " /><label for="2-star " title="Not Good ">2 stars</label>
                            <input type="radio " id="1-star " name="rating " value="1 " /><label for="1-star " title="Bad ">1 star</label>
                        </u>

                        <span class="list-inline-item text-dark ms-4 ">Rating : {{productItem.average_rate}} </span> <br> <br>

                        <ul class="list-inline ">
                            <li class="list-inline-item ">
                                <h6>Brand:</h6>
                            </li>
                            <li class="list-inline-item ">
                                <!-- <p class="text-success "><strong *ngFor="let brand of allBrands"> {{brand.name}} </strong> </p> -->
                                <p class="text-success "><strong>{{productItem.brand.name}}</strong> </p>

                            </li>
                        </ul>

                        <h6>Description:</h6>
                        <p> {{productItem.description}} </p>
                        <ul class="list-inline ">
                            <li class="list-inline-item ">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item ">
                                <p class="text-muted "><strong>White / Black</strong></p>
                            </li>
                        </ul>

                        <h6>Specification:</h6>
                        <ul class="list-unstyled pb-3 ">
                            <li>Fits All People</li>
                            <li>All-live Warranty</li>
                            <li>Water-Resistance</li>
                            <li>Best Materials</li>
                        </ul>

                        <form action=" " method="GET ">
                            <!-- <div class="row ">
                                <div class="col-auto ">
                                    <ul class="list-inline pb-3 ">
                                        <li class="list-inline-item text-right ">
                                            Quantity
                                            <input type="hidden " name="product-quanity " id="product-quanity " value="1 ">
                                        </li>
                                        <li class="list-inline-item "><span class="btn btn-success " id="btn-minus ">-</span></li>
                                        <li class="list-inline-item "><span class="badge bg-secondary " id="var-value ">1</span></li>
                                        <li class="list-inline-item "><span class="btn btn-success " id="btn-plus ">+</span></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="row pb-3 ">
                                <div class="col d-grid ">
                                    <button type="submit " class="btn btn-success btn-lg " name="submit " value="addtocard ">Add To Cart</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->

<!-- Start Article -->
<!-- <section class="py-5 ">
    <div class="container ">
        <div class="row text-left p-2 pb-3 ">
            <h4>Related Products</h4>
        </div> -->

<div class="separator"></div>
<!-- related products -->
<br>
<section class="realated-product">
    <h2 class="container-fluid mx-2 text-success mb-4"> Related <strong>Products</strong></h2>
    <div class="row container-fluid">
        <!-- medium item -->
        <app-product-item class="col-2" *ngFor="let item of relatedProducts " [productItem]="item "></app-product-item>
    </div>
</section>
<br>






<!--Start Carousel Wrapper-->
<!-- <section class="realated-product ">
            <h3>Related <strong>Products</strong></h3>
            <div class="item-listing__items item-listing--4items ">
                <!-- medium item -->
<!-- <app-product-item class="item-medium-1 " *ngFor="let item of relatedProducts " [productItem]="item "></app-product-item>
    </div>
</section> -->
<!-- End Slider Script -->

<!-- Start Footer -->
<app-footer></app-footer>
<!-- End Footer -->