<app-navbar></app-navbar>

<!-- Shopping Cart Section Begin -->
<div class="container d-flex flex-column">
  <div class="d-flex">
    <div  class="card m-5" style="width: 18rem">
      <img
      src="../../../../assets/img/feature_prod_02.jpg"
      class="card-img-top"
      alt="..."
    />
    </div>
    <div class="card-body p-5 m-5 text-center">
      <h5 class="card-title">Pure Pineapple</h5>
      <p class="card-text">$60.00</p>
      <p class="card-text">Description</p>
    </div>
  </div>
  <div class="d-flex">
    <div  class="card m-5" style="width: 18rem">
      <img
      src="../../../../assets/img/feature_prod_02.jpg"
      class="card-img-top"
      alt="..."
    />
    </div>
    <div class="card-body p-5 m-5 text-center">
      <h5 class="card-title">Pure Pineapple</h5>
      <p class="card-text">$60.00</p>
      <p class="card-text">Description</p>
    </div>
  </div>
  <div class="d-flex">
    <div  class="card m-5" style="width: 18rem">
      <img
      src="../../../../assets/img/feature_prod_02.jpg"
      class="card-img-top"
      alt="..."
    />
    </div>
    <div class="card-body p-5 m-5 text-center">
      <h5 class="card-title">Pure Pineapple</h5>
      <p class="card-text">$60.00</p>
      <p class="card-text">Description</p>
    </div>
  </div>
</div>

<!-- Shopping Cart Section End -->

<app-footer></app-footer>
