<app-navbar></app-navbar>

<!-- Shopping Cart Section Begin -->
<div class="d-flex justify-content-center text-center">
  <div class="card" style="width: 18rem">
    <img
      src="../../../../assets/img/feature_prod_02.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Pure Pineapple</h5>
      <p class="card-text">$60.00</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center text-center">
  <div class="card" style="width: 18rem">
    <img
      src="../../../../assets/img/feature_prod_02.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body text-center">
      <h5 class="card-title">Pure Pineapple</h5>
      <p class="card-text">$60.00</p>
    </div>
  </div>
</div>

<!-- Shopping Cart Section End -->

<app-footer></app-footer>
