<div class='dashboard'>

    <app-sidenav></app-sidenav>

    <div class='dashboard-app'>
        <app-admin-header></app-admin-header>
        <div class='dashboard-content'>
            <div class='container p-2'>
                <figure class="text-center pb-2 mt-4">
                    <blockquote class="blockquote">
                        <h2>Users</h2>
                    </blockquote>
                </figure>

                <table class="table table-striped mt-2">
                    <thead>
                        <tr>

                            <th scope="col"> Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Role</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | paginate:{ itemsPerPage:4,currentPage :p}">

                            <td>{{user.fname + " " + user.lname}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.street +" "+ user.city}}</td>
                            <td>{{user.role}}</td>
                            <td><button routerLink="/admin/users/edit/{{user.id}}" Class="btn btn-warning btn-sm">Edit</button><button (click)="deleteusers(user.id)" class="btn btn-danger btn-sm ms-2">Delete</button></td>
                        </tr>
                        <pagination-controls (pageChange)="p = $event" class="float-left">
                        </pagination-controls>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>