
<app-navbar></app-navbar>

<!-- Header-->
<header class="bg-dark py-5">
   <div class="container px-4 px-lg-5 my-5">
       <div class="text-center text-white">
           <h1 class="display-4 fw-bolder">Shop in style</h1>
           <p class="lead fw-normal text-white-50 mb-0">With our shop</p>
       </div>
   </div>
</header>

<div class="jumbotron jumbotro-fluid text-center">
   <div class="container">
     <h1 class="mb-3 mb-md-5 m-5">Thank you for choosing us!</h1>
 
     <p class="lead mb-3 mb-md-5 m-5">Please check your e-mail for further details about your order.</p>
     <p class="mb-3 mb-md-5 m-5">Having trouble or got any questions? <a href="#">Contact us</a>.</p>
     <a href="#" class="btn btn-success btn-lg m-5 px-5" role="button">Continue to homepage</a>
 
   </div>
 </div>

 <app-footer></app-footer>